#eventNotes {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#eventNotesCon {
    height: 50%;
    margin-bottom: 1.5rem;
}
form {
    width: 30%;
}
button {
    width: 100%;
}
h2 {
    text-align: center;
}