input {
    width: 70%;
    height: 1rem;
}
#content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mat-card-title {
    text-align: center;
}
.mat-selection-list {
    max-height: 400px;
    width: 100%;
    overflow: auto;
}
.mat-list-option {
    text-align: center;
}