<div class="home-wrapper">
    <img id="banner" src="../../assets/images/banner.jpg">
    <div class="home-about">
        <mat-card class="card">
            <img mat-card-image class="card-img" src="../../assets/images/notepad.png" alt="Card image cap"/>
            <mat-card-title>O aplikacji</mat-card-title>
            <mat-card-content class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis elit lectus, tempus sed feugiat id, varius eget lectus. Vivamus vitae nisi sit amet tellus commodo accumsan tempus eu ipsum. Proin in molestie ante. Donec laoreet pellentesque nunc, et condimentum quam porta sed. Donec sit amet tempus risus. Aenean posuere magna lorem, sit amet efficitur sapien volutpat sit amet. Quisque eget odio pulvinar nunc mattis tincidunt in id diam. Maecenas ut nunc in lorem egestas pretium. Ut et interdum nibh.</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="card">
            <img mat-card-image class="card-img" src="../../assets/images/office-building.png" alt="Card image cap"/>
            <mat-card-title>Duży wybór firm</mat-card-title>
            <mat-card-content class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis elit lectus, tempus sed feugiat id, varius eget lectus. Vivamus vitae nisi sit amet tellus commodo accumsan tempus eu ipsum. Proin in molestie ante. Donec laoreet pellentesque nunc, et condimentum quam porta sed. Donec sit amet tempus risus. Aenean posuere magna lorem, sit amet efficitur sapien volutpat sit amet. Quisque eget odio pulvinar nunc mattis tincidunt in id diam. Maecenas ut nunc in lorem egestas pretium. Ut et interdum nibh.</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="card">
            <img mat-card-image class="card-img" src="../../assets/images/star.png" alt="Card image cap"/>
            <mat-card-title>Oceń firmy</mat-card-title>
            <mat-card-content class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis elit lectus, tempus sed feugiat id, varius eget lectus. Vivamus vitae nisi sit amet tellus commodo accumsan tempus eu ipsum. Proin in molestie ante. Donec laoreet pellentesque nunc, et condimentum quam porta sed. Donec sit amet tempus risus. Aenean posuere magna lorem, sit amet efficitur sapien volutpat sit amet. Quisque eget odio pulvinar nunc mattis tincidunt in id diam. Maecenas ut nunc in lorem egestas pretium. Ut et interdum nibh.</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>